/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.search-relevance-result-panel {
  min-height: 500px;
  width: 50%;

  &:nth-child(1) {
    border-right: 1px solid $euiBorderColor;
  }
}
  