/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.search-relevance {
  .header {
    padding: 12px 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D3DAE6;
  }
}
