name: Test and Build Dashboards Search Relevance Plugin

on: [pull_request, push]

env:
  PLUGIN_NAME: dashboards-search-relevance
  OPENSEARCH_VERSION: '2.x'
  OPENSEARCH_PLUGIN_VERSION: 2.6.0.0

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Enable core.longpaths on Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: git config --global core.longpaths true

      - name: Checkout Dashboards Search Relevance plugin
        uses: actions/checkout@v3
        with:
          path: dashboards-search-relevance

      - name: Checkout OpenSearch Dashboards
        uses: actions/checkout@v3
        with:
          repository: opensearch-project/OpenSearch-Dashboards
          ref: ${{ env.OPENSEARCH_VERSION }}
          path: OpenSearch-Dashboards

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: './OpenSearch-Dashboards/.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Install Yarn
        # Need to use bash to avoid having a windows/linux specific step
        shell: bash
        run: |
          YARN_VERSION=$(node -p "require('./OpenSearch-Dashboards/package.json').engines.yarn")
          echo "Installing yarn@$YARN_VERSION"
          npm i -g yarn@$YARN_VERSION
      - run: node -v
      - run: yarn -v

      - name: Move Search Relevance to Plugins Dir
        run: mv dashboards-search-relevance OpenSearch-Dashboards/plugins/dashboards-search-relevance

      - name: Plugin Bootstrap
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-search-relevance
          yarn osd bootstrap

      - name: Test all dashboards-search-relevance modules
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-search-relevance
          yarn test --coverage

      - name: Upload coverage
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: codecov/codecov-action@v1
        with:
          flags: dashboards-search-relevance
          directory: ./OpenSearch-Dashboards/plugins/dashboards-search-relevance
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Build Artifact
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-search-relevance
          yarn build
          mv ./build/*.zip ./build/${{ env.PLUGIN_NAME }}-${{ env.OPENSEARCH_PLUGIN_VERSION }}.zip

      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: dashboards-search-relevance-${{ matrix.os }}
          path: ./OpenSearch-Dashboards/plugins/dashboards-search-relevance/build
