name: Test and Build Dashboards Search Relevance Plugin

on: [pull_request, push]

env:
  PLUGIN_NAME: dashboards-search-relevance
  OPENSEARCH_VERSION: "main"
  OPENSEARCH_PLUGIN_VERSION: 3.0.0.0

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check LongPathsEnabled
        if: ${{ matrix.os == 'windows-latest' }}
        run: (Get-ItemProperty "HKLM:System\CurrentControlSet\Control\FileSystem").LongPathsEnabled

      - name: Checkout Dashboards Search Relevance plugin
        uses: actions/checkout@v2
        with:
          path: dashboards-search-relevance

      - name: Checkout OpenSearch Dashboards
        uses: actions/checkout@v2
        with:
          repository: opensearch-project/OpenSearch-Dashboards
          ref: ${{ env.OPENSEARCH_VERSION }}
          path: OpenSearch-Dashboards

      - name: Get node and yarn versions
        id: versions_step
        run: |
          echo "::set-output name=node_version::$(node -p "(require('./OpenSearch-Dashboards/package.json').engines.node).match(/[.0-9]+/)[0]")"
          echo "::set-output name=yarn_version::$(node -p "(require('./OpenSearch-Dashboards/package.json').engines.yarn).match(/[.0-9]+/)[0]")"

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ steps.versions_step.outputs.node_version }}
          registry-url: "https://registry.npmjs.org"

      - name: Install correct yarn version for OpenSearch Dashboards
        run: |
          npm uninstall -g yarn
          echo "Installing yarn ${{ steps.versions_step.outputs.yarn_version }}"
          npm i -g yarn@${{ steps.versions_step.outputs.yarn_version }}

      - name: Move Search Relevance to Plugins Dir
        run: mv dashboards-search-relevance OpenSearch-Dashboards/plugins/dashboards-search-relevance

      - name: Plugin Bootstrap
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-search-relevance
          yarn osd bootstrap

      - name: Test all dashboards-search-relevance modules
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-search-relevance
          yarn test --coverage

      - name: Upload coverage
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: codecov/codecov-action@v1
        with:
          flags: dashboards-search-relevance
          directory: ./OpenSearch-Dashboards/plugins/dashboards-search-relevance
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Build Artifact
        run: |
          cd OpenSearch-Dashboards/plugins/dashboards-search-relevance
          yarn build
          mv ./build/*.zip ./build/${{ env.PLUGIN_NAME }}-${{ env.OPENSEARCH_PLUGIN_VERSION }}.zip

      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: dashboards-search-relevance-${{ matrix.os }}
          path: ./OpenSearch-Dashboards/plugins/dashboards-search-relevance/build
